@model MVCProject.Models.Tiquetes

@{
    ViewData["Title"] = "Detalles del Tiquete";
}

<h2>Detalles del Tiquete</h2>

<div>
    <h4>Tiquete</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.ti_identificador</dd>

        <dt class="col-sm-2">Asunto</dt>
        <dd class="col-sm-10">@Model.ti_asunto</dd>

        <dt class="col-sm-2">Categoría</dt>
        <dd class="col-sm-10">@Model.ti_categoria</dd>

        <dt class="col-sm-2">Estado</dt>
        <dd class="col-sm-10">@Model.ti_estado</dd>

        <dt class="col-sm-2">Fecha de Adición</dt>
        <dd class="col-sm-10">@Model.ti_fecha_adicion.ToString("dd/MM/yyyy")</dd>
    </dl>
</div>
<div>
    <a asp-controller="Ticket" asp-action="Index">Volver a la Lista</a>
</div>
