@model IEnumerable<MVCProject.Models.Tiquetes>

@{
    ViewData["Title"] = "Lista de Tiquetes";
}

<h2>Lista de Tiquetes</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Asunto</th>
            <th>Categoría</th>
            <th>Estado</th>
            <th>Fecha Adición</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ti_identificador</td>
                <td>@item.ti_asunto</td>
                <td>@item.ti_categoria</td>
                <td>@item.ti_estado</td>
                <td>@item.ti_fecha_adicion.ToString("dd/MM/yyyy")</td>
                <td>
                    <a asp-controller="Ticket" asp-action="Details" asp-route-id="@item.ti_identificador">Ver Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
